In [1]:
import ibm_db as db
%load_ext sql

In [2]:
dsn_hostname = "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net" # e.g.: "dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net"
dsn_uid = "nwj99378"        # e.g. "abc12345"
dsn_pwd = "0kbndrmhkvzx^8xt"      # e.g. "7dBZ3wWt9XN6$o0J"

dsn_driver = "{IBM DB2 ODBC DRIVER}"
dsn_database = "BLUDB"            # e.g. "BLUDB"
dsn_port = "50000"                # e.g. "50000" 
dsn_protocol = "TCPIP"

In [3]:
dsn = ("DRIVER={0};""DATABASE={1};""HOSTNAME={2};""PORT={3};""PROTOCOL={4};""UID={5};""PWD={6};").format(dsn_driver, dsn_database, dsn_hostname, dsn_port, dsn_protocol, dsn_uid, dsn_pwd)

In [4]:
try:
    conn = db.connect(dsn,"","")
except:
    print ("Unable to connect: ", ibm_db.conn_errormsg())

In [5]:
%sql ibm_db_sa://nwj99378:0kbndrmhkvzx%5E8xt@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB

<h3>Problem 1: Find the total number of crimes recorded in the crime table.<h3>

In [6]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

<h3>Problem 2: Retrieve first 10 rows from the CRIME table.<h3>

In [7]:
%%sql
SELECT * FROM CHICAGO_CRIME_DATA LIMIT 10

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(3512276, 'HK587712', datetime.datetime(2004, 8, 28, 17, 50, 56), '047XX S KEDZIE AVE', '890', 'THEFT', 'FROM BUILDING', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 911, 9, 14, 58, '6', 1155838, 1873050, 2004, '02/10/2018 03:50:01 PM', Decimal('41.80744050'), Decimal('-87.70395585'), '(41.8074405, -87.703955849)'),
 (3406613, 'HK456306', datetime.datetime(2004, 6, 26, 12, 40), '009XX N CENTRAL PARK AVE', '820', 'THEFT', '$500 AND UNDER', 'OTHER', 'FALSE', 'FALSE', 1112, 11, 27, 23, '6', 1152206, 1906127, 2004, '02/28/2018 03:56:25 PM', Decimal('41.89827996'), Decimal('-87.71640551'), '(41.898279962, -87.716405505)'),
 (8002131, 'HT233595', datetime.datetime(2011, 4, 4, 5, 45), '043XX S WABASH AVE', '820', 'THEFT', '$500 AND UNDER', 'NURSING HOME/RETIREMENT HOME', 'FALSE', 'FALSE', 221, 2, 3, 38, '6', 1177436, 1876313, 2011, '02/10/2018 03:50:01 PM', Decimal('41.81593313'), Decimal('-87.62464213'), '(41.815933131, -87.624642127)'),
 (7903289, 'HT133522', datetime.datetime(2010, 12, 30, 16, 30), '083XX S KINGSTON AVE', '840', 'THEFT', 'FINANCIAL ID THEFT: OVER $300', 'RESIDENCE', 'FALSE', 'FALSE', 423, 4, 7, 46, '6', 1194622, 1850125, 2010, '02/10/2018 03:50:01 PM', Decimal('41.74366532'), Decimal('-87.56246276'), '(41.743665322, -87.562462756)'),
 (10402076, 'HZ138551', datetime.datetime(2016, 2, 2, 19, 30), '033XX W 66TH ST', '820', 'THEFT', '$500 AND UNDER', 'ALLEY', 'FALSE', 'FALSE', 831, 8, 15, 66, '6', 1155240, 1860661, 2016, '02/10/2018 03:50:01 PM', Decimal('41.77345530'), Decimal('-87.70648047'), '(41.773455295, -87.706480471)'),
 (7732712, 'HS540106', datetime.datetime(2010, 9, 29, 7, 59), '006XX W CHICAGO AVE', '810', 'THEFT', 'OVER $500', 'PARKING LOT/GARAGE(NON.RESID.)', 'FALSE', 'FALSE', 1323, 12, 27, 24, '6', 1171668, 1905607, 2010, '02/10/2018 03:50:01 PM', Decimal('41.89644677'), Decimal('-87.64493868'), '(41.896446772, -87.644938678)'),
 (10769475, 'HZ534771', datetime.datetime(2016, 11, 30, 1, 15), '050XX N KEDZIE AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 1713, 17, 33, 14, '6', 1154133, 1933314, 2016, '02/10/2018 03:50:01 PM', Decimal('41.97284491'), Decimal('-87.70860008'), '(41.972844913, -87.708600079)'),
 (4494340, 'HL793243', datetime.datetime(2005, 12, 16, 16, 45), '005XX E PERSHING RD', '860', 'THEFT', 'RETAIL THEFT', 'GROCERY FOOD STORE', 'TRUE', 'FALSE', 213, 2, 3, 38, '6', 1180448, 1879234, 2005, '02/28/2018 03:56:25 PM', Decimal('41.82387989'), Decimal('-87.61350386'), '(41.823879885, -87.613503857)'),
 (3778925, 'HL149610', datetime.datetime(2005, 1, 28, 17, 0), '100XX S WASHTENAW AVE', '810', 'THEFT', 'OVER $500', 'STREET', 'FALSE', 'FALSE', 2211, 22, 19, 72, '6', 1160129, 1838040, 2005, '02/28/2018 03:56:25 PM', Decimal('41.71128051'), Decimal('-87.68917910'), '(41.711280513, -87.689179097)'),
 (3324217, 'HK361551', datetime.datetime(2004, 5, 13, 14, 15), '033XX W BELMONT AVE', '820', 'THEFT', '$500 AND UNDER', 'SMALL RETAIL STORE', 'FALSE', 'FALSE', 1733, 17, 35, 21, '6', 1153590, 1921084, 2004, '02/28/2018 03:56:25 PM', Decimal('41.93929582'), Decimal('-87.71092344'), '(41.939295821, -87.710923442)')]

<h3>Problem 3: How many crimes involve an arrest.<h3>

In [8]:
%%sql
SELECT COUNT(*) FROM CHICAGO_CRIME_DATA WHERE arrest = 'TRUE'

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('163'),)]

<h3>Problem 4: Which unique types of crimes (e.g. THEFT) have been recorded at a GAS STATION locations?<h3>

In [9]:
%%sql 
SELECT DISTINCT(primary_type) FROM CHICAGO_CRIME_DATA WHERE location_description = 'GAS STATION'

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('CRIMINAL TRESPASS',), ('NARCOTICS',), ('ROBBERY',), ('THEFT',)]

<h3>Problem 5: In the CENSUS_DATA table list all community areas whose names start with the letter ‘B’.<h3>

In [10]:
%%sql
SELECT community_area_name FROM CENSUS_DATA WHERE community_area_name LIKE 'B%'

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Belmont Cragin',),
 ('Burnside',),
 ('Brighton Park',),
 ('Bridgeport',),
 ('Beverly',)]

<h3>Problem 6: List the schools in community areas 10 to 15 that are healthy school certified.<h3>

In [11]:
%%sql
SELECT name_of_school FROM (SELECT name_of_school, healthy_school_certified, community_area_number FROM CHICAGO_PUBLIC_SCHOOLS WHERE community_area_number BETWEEN 10 AND 15)
WHERE healthy_school_certified = 'Yes'

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('Rufus M Hitch Elementary School',)]

<h3>Problem 7: What is the average school Safety Score?<h3>

In [12]:
%%sql
SELECT AVG(safety_score) FROM CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

<h3>Problem 8: Find the top 5 Community Areas by average College Enrollment [number of students].<h3>

In [13]:
%%sql
SELECT community_area_name, AVG(college_enrollment) as number_of_students FROM CHICAGO_PUBLIC_SCHOOLS GROUP BY community_area_name ORDER BY number_of_students desc LIMIT 5

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('ARCHER HEIGHTS', Decimal('2411.500000')),
 ('MONTCLARE', Decimal('1317.000000')),
 ('WEST ELSDON', Decimal('1233.333333')),
 ('BRIGHTON PARK', Decimal('1205.875000')),
 ('BELMONT CRAGIN', Decimal('1198.833333'))]

<h3>Problem 9: Use a sub-query todetermine which Community Area has the least value for school Safety Score?<h3>

In [14]:
%%sql
SELECT community_area_name FROM CHICAGO_PUBLIC_SCHOOLS WHERE safety_score = (SELECT MIN(safety_score) FROM CHICAGO_PUBLIC_SCHOOLS)

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[('WASHINGTON PARK',)]

<h3>Problem 10: [Without using an explicit JOIN operator] Find the Per Capita Income of the Community Area which has a school Safety Score of 1.<h3>

In [15]:
%%sql
SELECT per_capita_income, community_area_name FROM CENSUS_DATA WHERE community_area_number = (SELECT community_area_number FROM CHICAGO_PUBLIC_SCHOOLS WHERE safety_score = 1)

 * ibm_db_sa://nwj99378:***@dashdb-txn-sbox-yp-dal09-04.services.dal.bluemix.net:50000/BLUDB
Done.

[(13785, 'Washington Park')]